/* Define a fonte padrão para o corpo do documento */
body {
    font-family: Arial, sans-serif; /* Aplica a fonte Arial como a fonte padrão */
    margin: 0; /* Remove as margens padrão do corpo */
    padding: 0; /* Remove os preenchimentos padrão do corpo */
    /* Fundo degradê */
    background: linear-gradient(to bottom right, #050505, #000066, #4b0082, #800080); /* Fundo degradê mais escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000000; /* Define a cor do texto como preto */
}

/* Estiliza o contêiner principal da página */
.container {
    max-width: 900px; /* Define a largura máxima do contêiner para 900 pixels */
    margin: 0 auto; /* Centraliza o contêiner na página */
    padding: 20px; /* Adiciona preenchimento interno ao contêiner */
}

/* Estiliza os cabeçalhos h1 e h2 */
h1 {
    color: #ffffff; /* Define a cor do texto do cabeçalho como preto */
}

/* Estiliza os cabeçalhos das boxes */
.box-title {
    color: #000000; /* Define a cor do texto do título da box como preto */
    text-align: center; /* Centraliza o texto */
}

/* Estiliza as colunas de layout */
.column {
    display: inline-block; /* Permite que as colunas fiquem uma ao lado da outra */
    vertical-align: top; /* Alinha as colunas ao topo */
    margin-right: 25px; /* Adiciona margem direita entre as colunas */
    width: 300px; /* Defina a largura padrão para as boxes */
    height: 300; /* Defina a altura padrão para as boxes */
    border: 4px solid #ffffff; /* Adiciona borda */
    border-radius: 15px; /* Adiciona bordas arredondadas */
    padding: 10px; /* Adiciona preenchimento interno */
    background-color: rgb(255, 248, 248); /* Define o fundo das caixas de checklist como preto */
}

/* Define a aparência das listas de checkboxes */
.checkbox-list {
    margin-bottom: 25px; /* Adiciona margem inferior às listas */
    max-height: 500px; /* Limita a altura da lista */
    overflow-y: auto; /* Adiciona rolagem vertical quando o conteúdo excede a altura */
}

/* Estilos adicionais para o campo de busca */
.search-container {
    position: relative; /* Define a posição relativa para permitir posicionamento absoluto dos elementos filhos */
    margin-bottom: 20px; /* Adiciona margem inferior ao contêiner de busca */
}

/* Estilos para o campo de busca */
.search-input {
    padding: 8px; /* Adiciona preenchimento interno ao campo de entrada */
    border: 1px solid #ccc; /* Adiciona uma borda ao redor do campo de entrada */
    border-radius: 6px; /* Adiciona bordas arredondadas ao campo de entrada */
    width: 560px; /* Reduz a largura do campo de busca */
}

/* Estilos para o botão de busca */
.search-button {
    padding: 10px 22px; /* Adiciona preenchimento interno ao botão */
    background-color: #0c498b; /* Define a cor de fundo do botão */
    color: white; /* Define a cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 8px; /* Adiciona bordas arredondadas ao botão */
    cursor: pointer; /* Altera o cursor para indicar interatividade */
}

/* Estilos de hover para o botão de busca */
.search-button:hover {
    background-color: #0056b3; /* Altera a cor de fundo ao passar o mouse sobre o botão */
}

/* Estilo para o texto selecionado em negrito */
.selected {
    font-weight: bold; /* Define o texto selecionado em negrito */
}
